<% include partials/header %>
    
 <div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Dazz Fun!</h1>
            <p>View dazzling moments of friends and families</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/dazzfuns/new">Add New Event</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">

        <% dazzfuns.forEach(function(dazzfun){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= dazzfun.image %>">
                    <div class="caption">
                        <h4> <%= dazzfun.event %> </h4>
                    </div>
                    <p>
                        <a href="/dazzfuns/<%= dazzfun.id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
 </div>
 
<% include partials/footer %>
